<h1>Groups</h1>

<% if @groups.any? %>
  <p><%= link_to "Create Group", new_group_path %></p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= group.users.map(&:name).sort.join(", ") %></td>
          <td><%= link_to "Edit", edit_group_path(group) %></td>
          <td><%= link_to "Delete", group_path(group), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no Groups yet. <%= link_to "Create", new_group_path %> one!</p>
<% end %>
