<!DOCTYPE html>
<html>
  <head>
    <title>HasManyThroughSelection</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-prefetch" content="false">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p style="color: green"><%= notice %></p>
    <%= yield %>
  </body>
</html>
